# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/*
Debug/*
Release/*
clicker-cond-medium-sc.ttf

_server.txt
_admin.txt
handsetid.txt
noautorun.txt
280821.dll
brew_out/*
elf2mod.exe
elf2mod.x
kphandset.vcxproj.user
